<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Products</title>
</head>
<body>
    <div>
        <h3>List</h3>
            <tr>
                <td><p><a href="/discount/">Registration in the loyalty program</a></p></td>
            </tr>
        <table>
            <tr>
                <td><p>Name</p></td>
                <td><p>Price</p></td>
                <td></td>
            </tr>
            {% for p in products %}
                <tr>
                    <td><p>{{ p.name }}</p></td>
                    <td><p>{{ p.price }}</p></td>
                    <td><p><a href="/buy/{{ p.id }}">Buy</a></p></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>